[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pillow = "*"
django = "*"
django-heroku = "*"
gunicorn = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
"boto3" = "*"
django-storages = "*"
django-cors-headers = "*"


[dev-packages]



[requires]

python_version = "3.7"
